<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/menucli.css">
    <link rel="stylesheet" href="/css/basicos.css">
    <link rel="stylesheet" href="/css/estadisticas.css">
</head>
<body>
    <div class="content">
        <nav>
            <ul>
                <li><a href="homecliente.ejs"><i class="fas fa-home"></i>inicio</a></li>
                <li><a href="perfil.ejs"><i class="fas fa-building"></i>Perfil</a></li>
                <li><a href="inventario.ejs"><i class="fas fa-store"></i>Inventario</a></li> 
                <li><a href="estadisticas.ejs"><i class="fas fa-users"></i>Estadisticas</a></li>
                <li><a href="reportes.ejs"><i class="fas fa-phone"></i>Reportes</a></li>
                <li><a href="estadoenvio.ejs"><i class="fab fa-blogger"></i>Estado de Enviado </a></li>
           </ul> 
         </nav> 
    </div>
    <div class="resto">
        <img src="/img/ejemplo-estadisticas-de-ventas-en-una-tienda-online.png" alt="">
    </div>
</body>
</html>