<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html"><i class="fas fa-home"></i>inicio</a></li>
            <li class="submenu"><a href="#"><i class="fa fa-shopping-basket"></i> producto<i class="icon-chevron-small-down"></i></a>
                <ul class="children">
                    <li><a href="#">producto hogar</a></li>
                    <li><a href="#">productos oficina</a></li>
                    <li><a href="#">productos para viaje</a></li>
                </ul>
            </li>
            <li><a href="*"><i class="fas fa-cogs"></i>proyecto</a></li>
            <li><a href="*"><i class="fab fa-medapps"></i>nuestra misión</a></li>  
            <li><a href="*"><i class="fas fa-phone"></i>contactenos</a></li>
        </ul>
    </nav>
    <div>
        <img class="img-principal" src="/img/zapatos de vestir.jpg" alt="">
    </div>
</body>
</html>