<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home2.css">
</head>
<body>
    <div class="container">
        <header class="header">
        <div class="menu">
            <ul class="navct">
                <li><a href="*">Inicio</a></li>
                <li><a href="*">Tiendas</a></li>
                <li ><a href="productos.html">Productos</a></li>
                <li><a href="*">Promociones</a></li>
             </ul>
        </div>
        <div class="busqueda">
            <form action="*" method="post" class="formulario">
                <input class="u-full-width" type="text" placeholder="Que te gustaría Comprar">
                <input class="submit-buscador" type="submit" value="">
            </form>

        </div>
        <div class="logo">
            <img src="img/cart.png">
        </div>
    </header>
        <div class="imgPri"></div>
        <div class="prom">
          <div ></div>
        </div>
      </div>
</body>
</html>