<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="/css/menucli.css">
    <link rel="stylesheet" href="/css/basicos.css">
</head>
<body>
    <div class="content">
        <nav>
            <ul>
                <li><a href="homecliente.ejs"><i class="fas fa-home"></i>inicio</a></li>
                <li><a href="perfil.ejs"><i class="fas fa-building"></i>Perfil</a></li>
                <li><a href="inventario.ejs"><i class="fas fa-store"></i>Inventario</a></li> 
                <li><a href="estadisticas.ejs"><i class="fas fa-users"></i>Estadisticas</a></li>
                <li><a href="reportes.ejs"><i class="fas fa-phone"></i>Reportes</a></li>
                <li><a href="estadoenvio.ejs"><i class="fab fa-blogger"></i>Estado de Enviado </a></li>
           </ul> 
         </nav> 
    </div>
    <div class="logo">
    <img src="/img/sandi.png" alt="">
    <input type="button" value="Editar">
    </div>
        <div class="datos">
            <tr>
                <td>NOMBRE DE LA TIENDA</td>
                <td><input type="text" name="" placeholder="Sandiseños"></td>
            </tr>
            <tr>
                <td>Numero de NIT</td>
                <td><input type="text" name="" placeholder="123.456.789.0"></td>
            </tr>            <tr>
                <td>Nombres del Propietario</td>
                <td><input type="text" name="" placeholder="Victor Manuel"></td>
            </tr>
            <tr>
                <td>Apellidos del Propietario</td>
                <td><input type="text" name="" placeholder="Murcia Cuellar"></td>
            </tr>
            <tr>
                <td>Dirección de la Tienda</td>
                <td><input type="text" name="" placeholder="cra4 clle 5"></td>
            </tr>
            <tr>
                <td>Telefono</td>
                <td><input type="number" name="" placeholder="3123456789"></td>
            </tr>
            <tr>
                <td>Correo Electronico</td>
                <td><input type="email" name="" placeholder="Sarashoes@gmail.com"></td>
            </tr>
            <tr>
                <td><input type="button" value="Editar"></td>
            </tr>
            
        </div>
</body>
</html>