<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/registrarse.css">
</head>
<body>
    <div class="content">
        <h1>Formulario de Registro</h1>
    <form method="post">
        <table>
            <tr>
                <td>Nombre</td>
                <td><input type="text" name="" placeholder="Nombre"></td>
            </tr>
            <tr>
                <td>Primer Apellido</td>
                <td><input type="text" name="" placeholder="Apellido"></td>
            </tr>
            <tr>
                <td>Segundo Apellido</td>
                <td><input type="text" name="" placeholder="Apellido"></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><input type="email" name="" placeholder="Example@gmail.com"></td>
            </tr>
            <tr>
                <td>Clave</td>
                <td><input type="password" name="" placeholder="Clave"></td>
            </tr>
            <tr>
                <td>Confirmar Clave</td>
                <td><input type="password" name="" placeholder="Confirmar clave"></td>
            </tr>
            <tr>
                <td>N° Documento</td>
                <td><input type="number" name="" placeholder="N° identificacion"></td>
            </tr>
            <tr>
                <td>Celular</td>
                <td><input type="password" name="" placeholder="N° Celular"></td>
            </tr>
            <tr>
                <td><input type="submit" value="GUARDAR"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>