@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;900&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
/*     background-color:rgb(250, 250, 250); */
}