table{
    border-collapse: collapse;
    font-size: 1.5em;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;

}
td, th{
    border: 1px solid black;
    padding: 0.6em;
}
img{
    width: 100px;
}
.icon img{
    width: 40px;
    margin: auto;
}
