body{
    display: grid;
    grid-template-columns:repeat(auto-fit, 300px);
    grid-template-rows: 1fr;
    grid-gap: 1em;
    background-color: rgb(250, 250, 250);
}
.datos{
    width: 300px;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
   padding: 1em;
}
/* .datos + * +{
    margin-bottom: 0.5em;
}
.datos, .circulo{
    height: 100px;
    width: 100px;
    background-image: url(/img/sandi.png);
    background-color: rgb(58, 104, 255);
    -moz-border-radius: 50px;
    -webkit-border-radius:50px;
    border-radius: 50px;
    background-size: cover;
} */

.logo{
    width: 200px;
    display: flex;
    flex-flow: column;
}

h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}