:root{
    --color_zapatos_deportivos: #3b5998;
    --color_zandalias: #00acce;
    --color_zapato_casual:#e95950;
    --color_botas:#c8232c;
    --background-color: rgb(15,17,27);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
}
.title_grafico{
    margin-top: 100px;
    text-align: center;
    color: white;
}
.container_grafico{
    width: 700px;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.grafico{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: conic-gradient(var(--color_zapatos_deportivos)40%,
                                     var(--color_zandalias) 40% 70%,
                                     var(--color_zapato_casual)70% 88%,
                                     var(--color_botas)88%);
    box-shadow: 1px 1px 5px 1px rgb(70,70,70);
}
.leyenda_all{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
[class^="color_"]{
    width: 15px;
    height: 15px;
    background-color: var(--color_zapatos_deportivos);
    margin-right: 8px;
    border-radius: 3px;
}
.color_zapatos_deportivos{
    background-color: var(--color_zapatos_deportivos);
}
.color_zandalias{
    background-color: var(--color_zandalias);
}
.color_zapato_casual{
    background-color: var(--color_zapato_casual);
}
.color_botas{
    background-color: var(--color_botas);
}
.social{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
}
.total{
    color: white;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(30,50,70);
}