.tiendas{
    display: grid;
    grid-template-columns:repeat(auto-fit, 280px);
    grid-template-rows: 1fr;
    grid-gap: 1em;
}
.footer {
        grid-area: footer;
        border-top: 1px solid white;
        margin-top: 40px;
        padding-top: 40px;
        display: inline;
        color: rgb(0, 0, 0);
        }
    nav {
        background: rgb(117,191,255);
        width: 100%;
    }
    ul {
        list-style: none;
        text-align: right;
    }
    li {
        display: inline-block;
        position: relative;
    }
     li:hover {
        background: #283350;
    }
    a {
        display: block;
        color: white;
        font-size: 1.3em;
        text-decoration: none;
        padding: 15px;  
    } 
    .children {
        position: absolute;
        display: none;
        background: #0084ff;
        text-align: left;
    }
    li:hover .children {
        display: block;
        width: 130%;
        text-align: left;
    }
    nav ul li .children li {
        display: block;
        border-bottom: 1px solid white;
    }
    nav ul li .children li a {
        display: block;
    }
     .search input[type=text]{
        position: relative;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    
    }  
    .search{
        float:left;
        margin:7px;
        width: 30%;
    
    } 
    .search button{
        background-color: #0074D9;
        color: #f2f2f2;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    } 
    .logo{
        float: left;
        width: 3%;
        margin-right: 2%;
    }
    .icon {
        float: right;
        width: 30%;
        margin-right: 2%;

    }
    .tiendas{
        margin: 10px;
    }
    .mini{
        max-width: 200px;
        display: flex;
        flex-flow: column;
        border-radius: 6px;
        box-shadow: 0 0 0.1em rgba(0,0,0,0.2);
        background-color: rgb(238, 255, 255);
        cursor: pointer;
        transition-property: box-shadow;
        transition-duration: 0.3s;
    }
    .mini:hover{
        box-shadow: 0 0 1.5em rgba(0,0,0,0.2);
    }
    .mini > img {
        width: 100%;
        object-fit: cover;
    }
